body {
  font-family: Arial, sans-serif;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a.right {
  float: right;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  margin: 20px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 2px 16px;
}
.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.carousel img {
  min-width: 50%;
  height: 600px;
  transition: 2s;
}

.metallic-text {
  font-size: 3em;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  background: linear-gradient(90deg, #b6b6b6, #808080, #b6b6b6);
  background-size: 600% 600%;
  color: #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 3s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes form-animation {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  .card {
    background-color: #797878;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 50px;
    width: 300px;
  }
  
  .animated-form {
    animation: form-animation 2s ease-out forwards;
  }