body {
  font-family: Arial, sans-serif;
  background: -webkit-linear-gradient(bottom, #585858, #242424);
  background-repeat: no-repeat;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem; /* Usa rem para un tamaño de fuente adaptable */
  text-decoration: none;
}
.navbar a.right {
  float: right;
}

/* Contenedor para las tarjetas */
.cards-container {
  display: flex; /* Alinea las tarjetas horizontalmente */
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea si no hay suficiente espacio */
  justify-content: space-around; /* Distribuye el espacio alrededor de las tarjetas de manera uniforme */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 300px; /* Pero no más de 300px */
  margin: 5px; /* Añade un pequeño margen alrededor de cada tarjeta */
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 2px 16px;
}
.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.carousel img {
  min-width: 5rem;
  height: 35rem; /* Mantiene la proporción de la imagen */
  transition: 3s;
}

.metallic-text {
  font-size: 2em;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  background: linear-gradient(90deg, #b6b6b6, #808080, #b6b6b6);
  background-size: 600% 600%;
  color: #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 3s ease infinite;
}

.my-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 8vh;
  letter-spacing: 0.5em;
  text-transform: capitalize;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes form-animation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  background-color: #797878;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 50px;
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 300px; /* Pero no más de 300px */
}

.animated-form {
  animation: form-animation 2s ease-out forwards;
}

/* Estilos para pantallas de escritorio */
@media (min-width: 992px) {
  .navbar a {
    padding: 1.5rem; /* Aumenta el tamaño de la fuente para pantallas grandes */
  }
  .card {
    width: 30%; /* Ocupa el 30% del ancho de la pantalla en pantallas grandes */
  }
}

/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar a {
    padding: 1.25rem; /* Aumenta el tamaño de la fuente para tablets */
  }
  .card {
    width: 45%; /* Ocupa el 45% del ancho de la pantalla en tablets */
  }
}

/* Estilos para móviles */
@media (max-width: 767px) {
  .navbar a {
    padding: 1rem; /* Mantiene el tamaño de la fuente original para móviles */
  }
  .card {
    width: 100%; /* Ocupa todo el ancho de la pantalla en móviles */
  }
}
