<!-- about section -->
<section class="about_section layout_padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>Nosotros</h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
              iure iste nam atque assumenda quo vel nemo amet, itaque sed
              tempora minus provident consequatur nihil. Natus similique atque
              sequi illo.
            </p>
            <a href=""><strong>Saber Más</strong></a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="public/Img/about.gif" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->
