<!-- about section -->
<section class="about_section layout_padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>Nosotros</h2>
            </div>
            <p>
              Somos un servicio automotriz comprometido con el bienestar de tu vehículo. 
              Nuestra misión es proporcionar soluciones integrales y de alta calidad para mantener tu automóvil en su mejor estado. 
              Con años de experiencia y un equipo de expertos apasionados, estamos aquí para ofrecer servicios de mantenimiento, reparación y asesoramiento excepcionales.
              Tu confianza en nosotros es nuestra mayor recompensa, y nos esforzamos por brindarte la atención y el cuidado que tu vehículo se merece.
            </p>
            <a href=""><strong>Saber Más</strong></a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="public/Img/about.gif" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->
