    <!-- slider section -->
    <section class="slider_section">
        <div class="slider_bg_box">
          <img src="public/Img/car.gif" style="max-width:100%;height:auto;" alt="" />
        </div>
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        Motors <br />
                        Solution
                      </h1>
                      <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Eum magnam, voluptates distinctio, officia
                        architecto tenetur debitis hic aspernatur libero commodi
                        atque fugit adipisci, blanditiis quidem dolorum odit
                        voluptas? Voluptate, eveniet?
                      </p>
                      <div class="btn-box">
                        <a href="/login" class="btn1"> <strong>Unete</strong> </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        Servicio <br />
                        Agenda
                      </h1>
                      <p class="texto-carrusel-small" >
                        Agenda tu próxima cita en nuestro servicio automotriz y disfruta de precios cómodos mientras cuidamos de tu vehículo. Mantén tu automóvil en óptimas condiciones con nosotros y garantiza un rendimiento impecable a un costo asequible.
                      </p>
                      <div class="btn-box">
                        <a href="/servicio" class="btn1"> <strong>Ir a Agenda</strong> </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        Venta <br />
                        Partes de Vehiculos
                      </h1>
                      <p class="texto-carrusel-big" >¡Cuida tu Auto!</p>
                      <p class= "texto-carrusel-small">
                        Mantén tu vehículo en optimas condiciones seleccionando los mejores productos de calidad para ti. Descubre una amplia gama de productos diseñados para mantener tu vehículo funcionando y luciendo impecable
                      </p>
                      <div class="btn-box">
                        <a href="/producto" class="btn1"><strong>Ir a Productos</strong></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ol class="carousel-indicators">
            <li
              data-target="#customCarousel1"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
          </ol>
        </div>
    </section>
    <!-- end slider section -->