<!-- sección de contacto -->
<section class="contact_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="heading_container">
            <h2>Contáctenos</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="form_container contact-form">
            <form action="contacto" method="POST">
              <div>
                <input type="text" required name="nombre" placeholder="Su nombre" />
              </div>
              <div>
                <input type="number" required name="telefono" placeholder="Número de teléfono" />
              </div>
              <div>
                <input type="email" required name="correo" placeholder="Correo electrónico" />
              </div>
              <div>
                <input
                  type="text"
                  class="message-box"
                  required name="mensaje" 
                  placeholder="Mensaje"
                />
              </div>
              <div style="display: inline;">
                <input type="submit" class="btn-save" value="Enviar">
            </div>
            </form>
          </div>
        </div>
        <div class="col-lg-7 col-md-6 px-0">
          <div class="map_container">
            <div class="map">
              <div id="googleMap"></div>
            </div>
          </div>
        </div>
        
        <script>
        function initMap() {
          var location = {lat: -33.45372798089153, lng: -70.6464873216715}; // Coordenadas
          var map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 15,
            center: location
          });
          var marker = new google.maps.Marker({
            position: location,
            map: map
          });
        }
        
        // Carga la API de Google Maps de forma asíncrona
        function loadScript() {
          var script = document.createElement('script');
          script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyCqj1rBqsaLuZwEgTvL6-VYK2W06eZiNgI&callback=initMap";
          script.async = true;
          document.body.appendChild(script);
        }
        
        window.onload = loadScript;
        </script>
        
      </div>
    </div>
  </section>
  <!-- fin de la sección de contacto -->