<section class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> Todos los derechos reservados
        <a>Grupo 3</a>
      </p>
    </div>
  </section>