    <!-- header section strats -->
    <header class="header_section">
      <div class="header_bottom">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="/index">
            <span><img src="public/Img/Logo.png" height="40px"></span>
            <span> MotorsSolution </span>
          </a>

          <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item <%= currentPage === 'index' ? ' active' : '' %>">
              <a class="nav-link" href="/index"><strong>Inicio</strong><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item <%= currentPage === 'servicio' ? ' active' : '' %>">
              <a class="nav-link" href="/servicio"><strong>Servicios</strong></a>
            </li>
            <li class="nav-item <%= currentPage === 'producto' ? ' active' : '' %>">
              <a class="nav-link" href="/producto"><strong>Productos</strong></a>
            </li>
            <li class="nav-item <%= currentPage === 'contacto' ? ' active' : '' %>">
              <a class="nav-link" href="/contacto"><strong>Contacto</strong></a>
            </li>
            <li class="nav-item dropdown">
              <% if (activeRole === 'user') { %>
                <!-- Mostrar elementos para usuarios autenticados -->
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-user" aria-hidden="true"></i><strong> Mi Cuenta</strong>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i><strong> Logout</strong></a></li>
                </ul>
              <% } else { %>
                <!-- Mostrar elementos para usuarios no autenticados -->
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-user" aria-hidden="true"></i><strong> Login</strong>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/login"><i class="fa fa-user" aria-hidden="true"></i><strong> Login</strong></a></li>
                  <li><a class="dropdown-item" href="/admin"><i class="fa fa-user" aria-hidden="true"></i><strong> Admin Login</strong></a></li>
                </ul>
              <% } %>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
