<section class="section" id="products">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-heading">
                  <h2>Algunos de Nuestros Productos</h2>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <div class="item">
                <div class="thumb">
                  <div class="hover-content">
                      <ul>
                          <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                          <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                          <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                      </ul>
                  </div>
                  <img class="product-image" src="public/images/products/LM_pasta_250.jpg" alt="">
              </div>
              <div class="down-content">
                <h6>Pasta cerámica Liqui Moly 250g </h6>
                  <span>$74.990</span>
              </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="item">
                <div class="thumb">
                  <div class="hover-content">
                      <ul>
                          <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                          <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                          <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                      </ul>
                  </div>
                  <img class="product-image" src="public/images/products/LM_pasta_250.jpg" alt="">
              </div>
              <div class="down-content">
                <h6>Pasta cerámica Liqui Moly 250g </h6>
                  <span>$74.990</span>
              </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="item">
                <div class="thumb">
                  <div class="hover-content">
                      <ul>
                          <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                          <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                          <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                      </ul>
                  </div>
                  <img class="product-image" src="public/images/products/LM_pasta_250.jpg" alt="">
              </div>
              <div class="down-content">
                <h6>Pasta cerámica Liqui Moly 250g </h6>
                  <span>$74.990</span>
              </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="item">
                  <div class="thumb">
                      <div class="hover-content">
                          <ul>
                              <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                              <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                              <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                          </ul>
                      </div>
                      <img class="product-image" src="public/images/products/LM_pasta_50.jpg" alt="">
                  </div>
                  <div class="down-content">
                      <h6>Pasta cerámica Liqui Moly 50g </h6>
                      <span class="precio">$14.990</span>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="item">
                  <div class="thumb">
                      <div class="hover-content">
                          <ul>
                              <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                              <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                              <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                          </ul>
                      </div>
                      <img class="product-image" src="public/images/products/LM_pasta_250.jpg" alt="">
                  </div>
                  <div class="down-content">
                    <h6>Pasta cerámica Liqui Moly 250g </h6>
                      <span>$74.990</span>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="item">
                  <div class="thumb">
                      <div class="hover-content">
                          <ul>
                              <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                              <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                              <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                          </ul>
                      </div>
                      <img class="product-image" src="public/images/products/LM_pasta_1000.jpg" alt="">
                  </div>
                  <div class="down-content">
                    <h6>Pasta cerámica Liqui Moly 1KG </h6>
                      <span>$294.990</span>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="item">
                <div class="thumb">
                  <div class="hover-content">
                      <ul>
                          <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                          <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                          <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                      </ul>
                  </div>
                  <img class="product-image" src="public/images/products/LM_pasta_250.jpg" alt="">
              </div>
              <div class="down-content">
                <h6>Pasta cerámica Liqui Moly 250g </h6>
                  <span>$74.990</span>
              </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="item">
                <div class="thumb">
                  <div class="hover-content">
                      <ul>
                          <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                          <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                          <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                      </ul>
                  </div>
                  <img class="product-image" src="public/images/products/LM_pasta_250.jpg" alt="">
              </div>
              <div class="down-content">
                <h6>Pasta cerámica Liqui Moly 250g </h6>
                  <span>$74.990</span>
              </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="item">
                <div class="thumb">
                  <div class="hover-content">
                      <ul>
                          <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                          <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                          <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                      </ul>
                  </div>
                  <img class="product-image" src="public/images/products/LM_pasta_250.jpg" alt="">
              </div>
              <div class="down-content">
                <h6>Pasta cerámica Liqui Moly 250g </h6>
                  <span>$74.990</span>
              </div>
              </div>
          </div>
          <div class="col-lg-12">
              <div class="pagination">
                  <ul>
                      <li class="active">
                          <a href="#">1</a>
                      </li>
                      <li>
                          <a href="#">2</a>
                      </li>
                      <li>
                          <a href="#">3</a>
                      </li>
                      <li>
                          <a href="#">4</a>
                      </li>
                      <li>
                          <a href="#">></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
