<!-- service section -->
<section class="service_section layout_padding">
    <div class="service_container">
    <div class="container">
        <div class="heading_container">
        <h2>Nuestros Servicios</h2>
        </div>
        <div class="row">
        <div class="col-md-6">
            <div class="box">
            <div class="img-box">
                <img src="public/images/calendar.png" alt="" />
            </div>
            <div class="detail-box">
                <h5>Agenda</h5>
                <p>
                    Agenda tu próxima cita en nuestro servicio automotriz y disfruta de precios cómodos mientras cuidamos de tu vehículo.
                </p>
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
            <div class="img-box">
                <img src="public/images/wheel.png" alt="" />
            </div>
            <div class="detail-box">
                <h5>Partes de vehiculos</h5>
                <p>
                    Explora nuestra amplia selección de productos de calidad para tu vehículo y dale el cuidado que se merece
                </p>
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
            <div class="img-box">
                <img src="public/images/tools.png" alt="" />
            </div>
            <div class="detail-box">
                <h5>Mecanicos</h5>
                <p>
                    Equipo de mecánicos profesionales con años de experiencia y pasión, dispuestos a entregar el mejor servicio para ti y para tu vehiculo.
                </p>
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
            <div class="img-box">
                <img src="public/images/phone.png" alt="" />
            </div>
            <div class="detail-box">
                <h5>Asesoria</h5>
                <p>
                    Nuestro equipo de asesoría te asegura las mejores recomendaciones precisas y orientadas a tus necesidades específicas.
                </p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>
<!-- end service section -->
