<!-- service section -->
<section class="service_section layout_padding">
    <div class="service_container">
    <div class="container">
        <div class="heading_container">
        <h2>Nuestros <span>Servicios</span></h2>
        <p>
            There are many variations of passages of Lorem Ipsum available,
            but the majority have suffered alteration
        </p>
        </div>
        <div class="row">
        <div class="col-md-6">
            <div class="box">
            <div class="img-box">
                <img src="public/images/s1.png" alt="" />
            </div>
            <div class="detail-box">
                <h5>Agenda</h5>
                <p>
                fact that a reader will be distracted by the readable
                content of a page when looking at its layout. The point of
                using
                </p>
                <a href=""> Leer m치s </a>
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
            <div class="img-box">
                <img src="public/images/s2.png" alt="" />
            </div>
            <div class="detail-box">
                <h5>Partes de vehiculos</h5>
                <p>
                fact that a reader will be distracted by the readable
                content of a page when looking at its layout. The point of
                using
                </p>
                <a href=""> Leer m치s </a>
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
            <div class="img-box">
                <img src="public/images/s3.png" alt="" />
            </div>
            <div class="detail-box">
                <h5>Mecanicos</h5>
                <p>
                fact that a reader will be distracted by the readable
                content of a page when looking at its layout. The point of
                using
                </p>
                <a href=""> Leer m치s </a>
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
            <div class="img-box">
                <img src="public/images/s4.png" alt="" />
            </div>
            <div class="detail-box">
                <h5>Asesoria</h5>
                <p>
                fact that a reader will be distracted by the readable
                content of a page when looking at its layout. The point of
                using
                </p>
                <a href=""> Leer m치s </a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>
<!-- end service section -->
