<section class="info_section layout_padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 info_col">
        <div class="info_contact">
          <h4>Dirección</h4>
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span> Ubicación </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span> Call +56-9 </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span> demo@gmail.com </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 info_col">
        <div class="info_detail">
          <h4>Información</h4>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima
            sit, animi laudantium quam, enim consectetur tempora consequuntur
            neque suscipit pariatur ea earum aperiam quia vero aspernatur quasi!
            Maxime, sunt rerum.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-2 mx-auto info_col">
        <div class="info_link_box">
          <h4>Enlaces</h4>
          <div class="info_links">
            <a class="active" href="/index">
              <img src="images/nav-bullet.png" alt="" />
              Inicio
            </a>
            <a class="" href="/producto">
              <img src="images/nav-bullet.png" alt="" />
              Productos
            </a>
            <a class="" href="/servicio">
              <img src="images/nav-bullet.png" alt="" />
              Servicios 
            </a>
            <a class="" href="/contacto">
              <img src="images/nav-bullet.png" alt="" />
              Contáctenos
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 info_col">
        <h4>Suscríbete</h4>
        <form action="index" method="POST">
          <input type="email" name="correo" required placeholder="Correo Electronico">
          <button type="submit" class="btn-save" value="Guardar"><strong>Suscribirse</strong></button>
        </form>
      </div>
    </div>
  </div>
</section>
