<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <%- include('partials/estilos') %>

    <style>
      #login-btn {
        background-color: black; /* Color de relleno negro */
        color: white; /* Color del texto en blanco */
        border: none; /* Sin borde */
        padding: 10px 20px; /* Ajusta el relleno según tus preferencias */
        margin-right: 10px; /* Espacio entre botones */
      }

      #registro-btn {
        background-color: transparent; /* Sin relleno */
        border: 1px solid black; /* Borde negro */
        color: black; /* Color del texto en negro */
        padding: 10px 20px; /* Ajusta el relleno según tus preferencias */
      }
    </style>
  </head>
  <body>
    <%- include('partials/navigation_bar') %>
    <div class="login-form">
      <h2>Login</h2>
      <form action="/auth" method="POST">
        <input type="text" name="user" id="user" placeholder="User" required />
        <input
          type="password"
          name="pass"
          id="pass"
          placeholder="Password"
          required
        />
        <input type="submit" class="btn-login" value="Login" />
      </form>
      <a href="register" class="btn-register">Registro</a>
    </div>
    <%- include('partials/sweetalert') %>
  </body>

  <%- include('partials/scripts') %>
</html>
