<!DOCTYPE html>
<html lang="es-es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <%- include('partials/estilos') %>
  </head>
  <body>
    <div>
    <%- include('partials/navigation_bar') %>
    </div>
    <div class="login-form">
      <h2>Login</h2>
      <form action="/auth" method="POST">
        <input type="text" name="user" id="user" placeholder="User" required />
        <input
          type="password"
          name="pass"
          id="pass"
          placeholder="Password"
          required
        />
        <input type="submit" class="btn-login" value="Login" />
      </form>
      <a href="register" class="btn-register">Registro</a>
    </div>
    <%- include('partials/sweetalert') %>
  </body>

  <%- include('partials/scripts') %>
</html>
