<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <%- include('partials/estilos') %>
</head>
<body class="sub_page">
    <%- include('partials/navigation_bar') %>
    <div id="card">
        <div id="card-content">
          <div id="card-title">
            <h2>Registro</h2>
            <div class="underline-title"></div>
          </div>
          <form method="POST" class="form" action="registro">
            <label for="user" style="padding-top: 13px">Nombre de usuario:</label>
            <input
              class="form-content"
              type="text"
              name="user"
              placeholder="User"
              required
            />
            <div class="form-border"></div>
            <label for="name" style="padding-top: 22px">Nombre Completo:</label>
            <input
              class="form-content"
              type="text"
              name="name"
              placeholder="Nombre Completo"
              required
            />
            <div class="form-border"></div>
            <label for="rol" style="padding-top: 13px">Rol:</label>
                <select name="rol" id="rol" class="select-css">
                    <option value="admin" selected>Admin</option>
                    <option value="data entry">Data Entry</option>

                </select>
              <label for="pass" style="padding-top: 22px">Contraseña:</label>
              <input
                class="form-content"
                type="password"
                name="pass"
                placeholder="Password"
                required
              />

            <div style="display: inline;">
                <a href="/" class="btn-cancel">Cancel</a>
                <input type="submit" class="btn-save" value="Save">
            </div>
            <div class="form-border"></div>
          </form>
        </div>
      </div>
      <%- include('partials/sweetalert') %> 

</body>

<%- include('partials/scripts') %>

</html>