<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <%- include('partials/estilos') %>
</head>
<body class="sub_page">
    <%- include('partials/navigation_bar') %>
    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div></div>
                
                <div class="card-body">
                    <div>
                        <a href="index" class="previous" id="reversa">&laquo; Previous</a>
                    </div>

                    <div style="text-align: center;">
                        <h2 class="title">Registro</h2>
                    </div>
                        
                    <form method="POST" action="register">

                        <div class="input-group">
                            <input class="input--style-2" type="text" name="user" placeholder="Usuario" required>
                        </div>

                        <!--<input type="text" name="user" required>-->

                        <div class="input-group">
                            <input class="input--style-2" type="text" name="name" required placeholder="Nombre Completo" required>
                        </div>

                        <!--<input type="text" name="name" required>-->

                        <div class="input-group">
                            <input class="input--style-2" type="password" name="pass" required placeholder="Contraseña" required>
                        </div>
                        
                        <!--<input type="password" name="pass" required>-->


                        <div style="display: inline;" >
                            <!--<a href="/" class="btn-cancel">Cancel</a>-->
                            <input  type="submit" class="btn btn-success margen-arriba" value="Guardar" >
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/sweetalert') %> 

</body>

<%- include('partials/scripts') %>

</html>