  #products .section-heading {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 80px;
  }

  #products .precio {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 12px;
  }
  
  #products .item {
    margin-bottom: 30px;
  }
  
  #products .item .thumb img {
    width: 100%;
    overflow: hidden;
  }
  
  #products .item .down-content {
    padding-top: 20px;
    position: relative;
    z-index: 3;
    background-color: #fff;
  }
  
  #products .item .down-content h4 {
    font-size: 22px;
    color: #2a2a2a;
    font-weight: 700;
    margin-bottom: 8px;
  }
  
  #products .item .down-content span {
    font-size: 18px;
    color: #a1a1a1;
    font-weight: 500;
    display: block;
  }
  
  #products .item .down-content ul.stars {
    position: absolute;
    right: 0;
    top: 20px;
  }
  
  #products .item .down-content ul.stars li {
    display: inline;
    font-size: 13px;
  }
  
  #products .item .thumb .hover-content {
    position: absolute;
    z-index: 2;
    text-align: center;
    bottom: -60px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
  }
  
  #products .item .thumb:hover .hover-content {
    bottom: 30px;
    opacity: 1;
    visibility: visible;
  }
  
  #products .item .thumb {
    position: relative;
  }
  
  #products .item .thumb .hover-content ul li {
    display: inline;
    margin: 0px 10px;
  }
  
  #products .item .thumb .hover-content ul li a {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    color: #2a2a2a;
    background-color: #fff;
  }

  #products .product-image {
    width: 240px;
    height: 280px;
  }

  #products .pagination {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  #products .pagination ul {
    text-align: center;
    width: 100%;
  }
  
  #products .pagination ul li {
    display: inline;
    margin: 0px 5px;
  }
  
  #products .pagination ul li a {
    width: 44px;
    height: 44px;
    border: 1px solid #0a97b0;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
  }
  
  #products .pagination ul li a:hover,
  #products .pagination ul li.active a {
    background-color: #0a97b0;
    color: #fff;
  }